<!doctype html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="{{ url_for('static', path='/theme.caadaed0.js') }}"></script>
    <script src="{{ url_for('static', path='/likes.313469f4.js') }}" defer></script>
    <title>{% block title %}名言集.com{% endblock %}</title>
    <meta name="description" content="{% block meta_description %}約1,800の名言と770人の著者。人生・恋愛・仕事の言葉を探せる名言ポータル。{% endblock %}">
    <link rel="stylesheet" href="{{ url_for('static', path='/tokens.74bc89e2.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='/components.fae1678a.css') }}">
  </head>
  <body>
    {% include "partials/header.html" %}
    <main id="main">
      {% block content %}{% endblock %}
    </main>
    {% include "partials/footer.html" %}
    {% include "partials/tabbar.html" %}
  </body>
</html>
